.search__title {
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .search__title {
        font-size: 36px;
        line-height: 40px;
        max-width: 385px;
    }
}
