@import url(_white-link/header__links-item_white-link.css);

.header__links-item {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B6BCBF;
    margin-right: 34px;
}
.header__links-item:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 400px) {
    .header__links-item {
        margin-right: 11px;
        font-size: 16px;
    }
}