.card__date {
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    margin-top: 0;
    margin-bottom: 0;
}