.search-err__subtitle {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    margin-top: 16px;
    margin-bottom: 80px;
    max-width: 356px;
}