.card__text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin-bottom: 0;
    margin-top: 16px;
    max-height: 88px;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .card__text {
        font-size: 16px;
        line-height: 22px;
        max-height: 88px;
        margin-top: 10px;
    }
}