.result__button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 80px;
    width: 288px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 80px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
}
.result__button:hover {
    opacity: 0.9;
}