@import url(_active/result__button_active.css);

.result__button {
    align-self: center;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 80px;
    width: 288px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 80px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
}
.result__button:hover {
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .result__button {
        margin-bottom: 40px;
        width: 240px;
        height: 56px;
    }
}
@media screen and (max-width: 320px){
    .result__button {
        margin-bottom: 44px;
    }
}