@import url(__logo/header__logo.css);
@import url(__links/header__links.css);
@import url(__links-item/header__links-item.css);
@import url(__links-current-item/header__links-current-item.css);


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 calc((100% - (100% - 210px))/2);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}
